cdm_server: "{{cdm_server}}"
cdm_archive: "{{cdm_archive}}"
cdm_xpath: "{{cdm_xpath}}"
cdm_user: "{{cdm_user}}"
cdm_password: "{{cdm_password}}"
cdm_download_dir: "{{cdm_download_dir}}"
cdm_foxml_dir: "{{cdm_foxml_dir}}"
